flows_life_expectancy.json
[{"id":"2603a8c1.73bd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23b82560.498802","type":"ui_form","z":"2603a8c1.73bd8","name":"","label":"LifeExpectancy Predictor","group":"ab9a3ed0.442ab8","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Enter 1 for Developed & 0 for Developing","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Death","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under 5 Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"text","required":false,"rows":null},{"label":"Total Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness (1-19)","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness (5-9)","value":"r","type":"number","required":true,"rows":null},{"label":"Income Composition ","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling ","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":60,"wires":[["896afa98.593498"]]},{"id":"896afa98.593498","type":"function","z":"2603a8c1.73bd8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"vtJmqkFj4VN-SdlbITTjjtfEUOhPtc-UxcKJMowxxbcK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["bcc443a.caefa4"]]},{"id":"b667ee4b.9f5c2","type":"http request","z":"2603a8c1.73bd8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/15dc8e40-cea1-46d9-bd01-122eade2a073/deployments/69a7f925-95e1-4013-960b-fded073867df/online","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":260,"wires":[["e48eaaf0.aed6f","a223f067.aa0068"]]},{"id":"78f9ba87.d9cf84","type":"debug","z":"2603a8c1.73bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":340,"wires":[]},{"id":"a223f067.aa0068","type":"function","z":"2603a8c1.73bd8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["78f9ba87.d9cf84","6149c5d4.6e39f4"]]},{"id":"e48eaaf0.aed6f","type":"debug","z":"2603a8c1.73bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":100,"wires":[]},{"id":"76b49d94.04b384","type":"function","z":"2603a8c1.73bd8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"15dc8e40-cea1-46d9-bd01-122eade2a073\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['year', 'status','adultmortality', 'infantdeaths', 'alcohol',\n       'percentageexpenditure', 'hepatitisb', 'measles', 'bmi',\n       'underfivedeaths', 'polio', 'totalexpenditure', 'dip', 'hiv/aids',\n       'gdp', 'population', 'thinness119', 'thinness59', 'incomecomp',\n       'schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["b667ee4b.9f5c2"]]},{"id":"bcc443a.caefa4","type":"http request","z":"2603a8c1.73bd8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":160,"wires":[["76b49d94.04b384"]]},{"id":"6149c5d4.6e39f4","type":"ui_text","z":"2603a8c1.73bd8","group":"ab9a3ed0.442ab8","order":1,"width":0,"height":0,"name":"","label":"Prediction ","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":440,"wires":[]},{"id":"ab9a3ed0.442ab8","type":"ui_group","z":"","name":"Life Expectancy Predictor","tab":"a7149258.7eb45","order":1,"disp":true,"width":"10","collapse":false},{"id":"a7149258.7eb45","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]