flowsAI.json
[{"id":"ec5dac9e.21eeb8","type":"tab","label":"PredictionUsingAI","disabled":false,"info":""},{"id":"134ef439.3de39c","type":"ui_form","z":"ec5dac9e.21eeb8","name":"","label":"LifeExpectancy Predictor","group":"ab9a3ed0.442ab8","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Enter 1 for Developed & 0 for Developing","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Death","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under 5 Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"text","required":false,"rows":null},{"label":"Total Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness (1-19)","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness (5-9)","value":"r","type":"number","required":true,"rows":null},{"label":"Income Composition ","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling ","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":450,"y":280,"wires":[["b68c6219.d681"]]},{"id":"b68c6219.d681","type":"function","z":"ec5dac9e.21eeb8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"vtJmqkFj4VN-SdlbITTjjtfEUOhPtc-UxcKJMowxxbcK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["74bbc7b6.ecc398"]]},{"id":"9925c13.56dc94","type":"http request","z":"ec5dac9e.21eeb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/a6a6c51d-e465-45f3-bb75-15678602210c/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":480,"wires":[["4e91bcc.d19d2c4","56187e28.e76bf"]]},{"id":"65f64dad.485a2c","type":"debug","z":"ec5dac9e.21eeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":560,"wires":[]},{"id":"56187e28.e76bf","type":"function","z":"ec5dac9e.21eeb8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":540,"wires":[["65f64dad.485a2c","cbd30c37.5eec68"]]},{"id":"4e91bcc.d19d2c4","type":"debug","z":"ec5dac9e.21eeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":320,"wires":[]},{"id":"a19f982f.923f8","type":"function","z":"ec5dac9e.21eeb8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"15dc8e40-cea1-46d9-bd01-122eade2a073\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":560,"wires":[["9925c13.56dc94"]]},{"id":"74bbc7b6.ecc398","type":"http request","z":"ec5dac9e.21eeb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":380,"wires":[["a19f982f.923f8"]]},{"id":"cbd30c37.5eec68","type":"ui_text","z":"ec5dac9e.21eeb8","group":"ab9a3ed0.442ab8","order":1,"width":0,"height":0,"name":"","label":"Prediction ","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":660,"wires":[]},{"id":"887ad902.68a3f","type":"inject","z":"ec5dac9e.21eeb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":160,"wires":[["b68c6219.d681"]]},{"id":"ab9a3ed0.442ab8","type":"ui_group","z":"","name":"Life Expectancy Predictor","tab":"a7149258.7eb45","order":1,"disp":true,"width":"10","collapse":false},{"id":"a7149258.7eb45","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]